<div class="p-4 sm:p-6 lg:p-8">
  <div class="pb-5 mb-8 border-b border-gray-200">
    <h1 class="text-2xl font-bold text-text-main">All Projects (Admin/Manager View)</h1>
  </div>

  <div *ngIf="isLoading$ | async" class="mt-8 text-center">
    <p class="text-text-secondary">Loading projects...</p>
  </div>

  <div *ngIf="!(isLoading$ | async)">
    <div *ngIf="(projects$ | async) as projects; else noProjects">
      <div *ngIf="projects.length > 0; else noProjects" class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2 lg:grid-cols-3">
        
        <a *ngFor="let project of projects" [routerLink]="['/projects', project.id]" 
           class="block p-6 transition-all duration-300 bg-white border-2 border-transparent rounded-lg shadow-md hover:shadow-primary/40 hover:border-primary">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-text-main">{{ project.name }}</h5>
          <p class="font-normal text-text-secondary">{{ project.description || 'No description available.' }}</p>
          <span class="block mt-4 text-xs font-medium text-primary-dark">Owner: {{ project.owner.email }}</span>
        </a>

      </div>
    </div>
    <ng-template #noProjects>
      <div class="py-12 text-center">
        <h3 class="mt-2 text-sm font-medium text-text-main">No projects found</h3>
        <p class="mt-1 text-sm text-text-secondary">There are no projects in the system yet.</p>
      </div>
    </ng-template>
  </div>
</div>