<div class="flex items-center justify-center min-h-screen bg-background-light">
  <div class="w-full max-w-md p-8 space-y-6 bg-white rounded-lg shadow-xl">
    <h2 class="text-2xl font-bold text-center text-text-main">Create an Account</h2>

    <div *ngIf="error$ | async as error" class="p-3 text-sm rounded-lg text-secondary-dark bg-secondary/20">
      Registration failed. This email might already be taken.
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-6">
      <div>
        <label for="email" class="block text-sm font-medium text-text-secondary">Email</label>
        <input 
          id="email" 
          type="email" 
          formControlName="email"
          class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:ring-primary focus:border-primary sm:text-sm"
        >
      </div>
      <div>
        <label for="password" class="block text-sm font-medium text-text-secondary">Password</label>
        <input 
          id="password" 
          type="password" 
          formControlName="password"
          class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:ring-primary focus:border-primary sm:text-sm"
        >
      </div>
      <div>
        <button 
          type="submit" 
          [disabled]="(isLoading$ | async) || registerForm.invalid"
          class="flex justify-center w-full px-4 py-2 text-sm font-medium text-white transition-colors border border-transparent rounded-md shadow-sm bg-primary hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-dark disabled:bg-primary-light disabled:cursor-not-allowed"
        >
          <ng-container *ngIf="!(isLoading$ | async)">Register</ng-container>
          <ng-container *ngIf="isLoading$ | async">Registering...</ng-container>
        </button>
      </div>
    </form>
    <p class="text-sm text-center text-text-secondary">
      Already have an account? 
      <a routerLink="/login" class="font-medium text-primary hover:text-primary-dark">Login here</a>
    p>
  </div>
</div>